<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="SHORTCUT ICON" href="https://info.firstinspires.org/hubfs/first-favicon.png">
    <title>First Robotics</title>
</head>
<body>
    <Header>
        <nav class="navbar navbar-expand-lg navbar-black ">
            <a class="navbar-brand Logo  " href="#" >
                <img src="first_kaz_vert.png" width="187" height="52">
            </a>
            <button class="navbar-toggler  " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse   " id="navbarSupportedContent">
              <ul class="navbar-nav  ml-auto">
                <a class="nav-link text-light " href="indexkz.html">
                    KAZ
                </a>
                <li class="nav-item ">
                    <a class="nav-link text-light " href="#season-theme">
                        Сезон 2023-2024
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-light" href="#programs">
                        Наша Программа
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-light" href="https://taplink.cc/firstroboticskz" >
                        Начать
                    </a>
                </li>
              </ul>
            </div>
          </nav>


    </Header>
    <main>
        <div class="Video_Preview">
            <div class="hs-video-widget" data-hsv-embed-id="028a2f47-4fdc-45f5-8df3-c376dd73a342" data-hsv-status="paused">
                <div class="hs-video-container" style="margin: 0 auto;">
                  <div class="hs-video-wrapper" style="position: relative; height: 0; padding-bottom: 36.46%">
                    <iframe referrerpolicy="origin" sandbox="allow-forms allow-scripts allow-same-origin allow-popups" allow="autoplay; fullscreen;" style="position: absolute !important; width: 100% !important; height: 100% !important; left: 0; top: 0; border: 0 none; pointer-events: initial" title="HubSpot Video" loading="lazy" data-hsv-id="110008519574" data-hsv-width="1920" data-hsv-height="700" data-hsv-autoplay="true" data-hsv-loop="true" data-hsv-muted="true" data-hsv-hidden-controls="true" data-hsv-full-width="true" src="https://play.hubspotvideo.com/v/1747660/id/110008519574?autoplay=true&amp;loop=true&amp;muted=true&amp;hidden_controls=true&amp;parentOrigin=https%3A%2F%2Finfo.firstinspires.org&amp;renderContext=hubl-iframe#hsvid=028a2f47-4fdc-45f5-8df3-c376dd73a342"></iframe>
                  </div>
                </div>
            </div>
        </div>
        <div class="Greadings">
            <div class="container-fluid text-container">
                <h2 class="text-center">
                    БУДУЩЕЕ - ЗА ВАМИ!
                </h2>
                <p >
                    Дети обладают природным любопытством, творческим потенциалом и желанием исследовать. В
                    <em>
                        FIRST
                    </em>
                    <sup>
                    ®
                    </sup>
                    , мы понимаем, что сила STEM (науки, технологии, инженерии и математики) вдохновляет их на инновации и повышает самооценку.
                </p>
                <p>Проектные, практические программы
                    <em>
                        FIRST
                    </em>

                    знакомят учащихся с инженерным делом и кодированием в увлекательной, инклюзивной и творческой учебной среде в школах и местных сообществах, где учащиеся совместно работают над решением ежегодной тематической задачи по робототехнике.
                </p>
                <p><em>FIRST</em>
                    это больще, чем роботы. Наши программы для детей до 12 лет призваны помочь всем молодым людям развить творческий подход к решению проблем, лидерские качества и коммуникативные навыки. Благодаря поддержке сети наставников, педагогов, волонтеров, спонсоров, родителей и выпускников в более чем 100 странах мира, опыт <em>FIRST</em> дает участникам постоянное вдохновение и уверенность в том, что они смогут построить лучшее будущее для себя и своих сообществ.
                </p>
                <a style="text-align: center;" href="https://t.me/firstkazakhstan"><img src="QR.png" alt="Telegram" height="300px"></a>
            </div>
        </div>
        <div class="Join-text" id="season-theme">
            <div class="container-fluid ">
                <img src="taglineru.png" alt="Join our arts-inspired robotics season">
            </div>
        </div>
        <div id="fnshow-intro-video-section" class="Intro ">
            <div class="container-fluid text-container">
                <span id="hs_cos_wrapper_intro_video_copy" class="" >
                    <p>
                        <strong>
                            Свет, камера, STEAM!
                        </strong>

                        Наука, технология, инженерное дело, искусство и математика (STEAM) вдохновляют на большие идеи, смелые действия и творчество. Наши навыки позволяют создавать произведения искусства, которые объединяют нас, развлекают и волнуют.

                    </p>
                <p>В сезоне 2023-2024 года <strong><em>FIRST</em><sup>®</sup> IN SHOW</strong><sup>SM</sup> представленном компанией <strong>Qualcomm</strong>, мы привлекаем внимание к роли STEM в искусстве и даем молодым людям возможность проектировать и строить мир безграничных возможностей.<strong> Будущее - это место, которое вы создадите.</strong> </p></span>
            </div>
            <div class="video-container">
                <div class="video-wrapper">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/HKUVKW5eOfM?si=oIDv9bnoIxnv7UT8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="Progam-header" id="programs">
            <div class="container-fluid">
                <h3 class="Title"> УВЛЕКАТЕЛЬНЫЕ ПРОГРАММЫ ДЛЯ ВСЕХ ВОЗРАСТОВ
                </h3>

            </div>
        </div>
        <div class="Programs" >
            <div class="program-image image-1">
                <img src="https://info.firstinspires.org/hs-fs/hubfs/first_in_show/FLL_2022_Feature_Image_1.webp" class="image" width="1000" alt="FIRST LEGO League participant wearing a team t-shirt points upward" title="FIRST LEGO League participant wearing a team t-shirt points upward" >
                <div class="program-logo-right">
                    <img src="FLL-woCaption.png" class="hs-image-widget "width="270" alt="FIRST LEGO League logo, ages 4-16" title="FIRST LEGO League logo, ages 4-16">
                </div>
            </div>

            <div class="program-details">
                <div class="program-brand-logo">
                    <img src="https://info.firstinspires.org/hubfs/first_in_show/masterpiece.svg" class=""  width="400" alt="FIRST LEGO League MASTERPIECE logo" title="FIRST LEGO League MASTERPIECE logo">
                </div>
                <div class="program-content">
                    <span id="hs_cos_wrapper_masterpiece_content" class="" >
                        <p> <strong><em>FIRST</em><sup>®</sup> LEGO<sup>®</sup> League Explore </strong><span>это следующий этап прогрессии через программу, где команды школьников сосредотачиваются на основах инженерного дела, исследуя реальные проблемы, учась проектировать и программировать, а также находя уникальные решения используя кубики LEGO основанные на LEGO<sup>®</sup>Education SPIKETM Essential или WeDo 2.0. Благодаря программе, ученики познают тонкости работы в команде, коммуникации, и исследовании. Они учатся переносить свои идеи из чертежей в реальные решения и представлять данное решение в доступной форме.</p>
                        <p style="text-align: center;">
                            <a class="btnn pink-white" href="https://docs.google.com/forms/d/e/1FAIpQLScpHSk9hmWGALCRTIG2EX_gafTra1B-JqCNRH0ZCwhBB-P5hw/viewform">
                                Регистрация
                            </a>
                        </p>
                    </span>
                </div>

            </div>
        </div>
        <div class="space"></div>
        <div class="Programs reverse">

            <div class="program-details">
                <div class="program-brand-logo">
                    <img src="https://info.firstinspires.org/hubfs/first_in_show/masterpiece.svg"  width="360" alt="FIRST Tech Challenge CENTERSTAGE presented by Raytheon Technologies logo" title="FIRST Tech Challenge CENTERSTAGE presented by Raytheon Technologies logo">
                </div>
                <div class="program-content">
                    <p><strong><em>FIRST</em><sup>®</sup> LEGO<sup>®</sup>League Challenge </strong> это старшая категория программы. Ученики от 10 до 16 лет занимаются исследованиями, решением проблем, кодированием и проектированием. Таким образом они создают и программируют Робота LEGO<sup>®</sup> Education SPIKETM Prime  или робота LEGO® MINDSTORMS <sup>®</sup> , который выполняет определенную миссию в игре с роботами. Они также участвуют в Инновационном проекте по выявлению и решению соответствующей реальной проблемы. Цель программы Challenge - научить учеников применять практические знания и опыт в создании более устойчивых технологии для развития инклюзивного, справедливого, и безопасного общества.</p>
                    <p style="text-align: center;"><a class="btnn pink-white" href="https://docs.google.com/forms/d/e/1FAIpQLSdsf46Tk92LAxUeISN5A84VdAT0ssgB8re8L1ED0uEGOSXZhQ/viewform">Регистрация</a></p>
                </div>

            </div>
            <div class="program-image image-2">
                <img src="FLL.jpg" class="image" width="1000" alt="FIRST Tech Challenge participant work on robot" title="FIRST Tech Challenge participant work on robot" >
                <div class="program-logo-left">
                    <img src="FLL-2.png"  width="300" alt="FIRST Tech Challenge ages 12-18" title="FIRST Tech Challenge ages 12-18"></span>
                </div>
            </div>


        </div>
        <div class="space"></div>
        <div class="Programs ">
            <div class="program-image image-3">
                <img src="https://thumb.tildacdn.com/tild6262-3833-4464-a138-646537646138/-/format/webp/photo_-192.jpg" class="image" width="1000" alt="FIRST Tech Challenge participant work on robot" title="FIRST Tech Challenge participant work on robot" >
                <div class="program-logo-right">
                    <img src="FTC-logo.png"  width="300" alt="FIRST Tech Challenge ages 12-18" title="FIRST Tech Challenge ages 12-18"></span>
                </div>
            </div>
            <div class="program-details">
                <div class="program-brand-logo">
                    <img src="https://info.firstinspires.org/hubfs/first_in_show/centerstage.svg"  width="360" alt="FIRST Tech Challenge CENTERSTAGE presented by Raytheon Technologies logo" title="FIRST Tech Challenge CENTERSTAGE presented by Raytheon Technologies logo">
                </div>
                <div class="program-content">
                    <p><strong><em>FIRST</em><sup>®</sup> Tech Challenge</strong> (возраст 12-18 лет) предлагает командам проектировать, строить, программировать и участвовать в захватывающих соревнованиях по робототехнике. Под руководством взрослых тренеров и наставников студенты развивают навыки STEM и отрабатывают принципы инженерной деятельности, осознавая ценность инноваций и командной работы. Многоразовый робототехнический набор может быть создан с использованием различных языков программирования. С помощью программы <em>Gracious Professionalism</em><sup>®</sup>, студентам предлагается создать свою команду и стать послом <em>FIRST</em>  и STEM в своих сообществах.</p>
                    <p style="text-align: center;"><a class="btnn pink-white" href="https://docs.google.com/forms/d/e/1FAIpQLScpHSk9hmWGALCRTIG2EX_gafTra1B-JqCNRH0ZCwhBB-P5hw/viewform">Регистрация</a></p>
                </div>

            </div>



        </div>


    </main>
    <footer id="main-footer-container" class="layout-footer layout-wrapper">
        <div class="layout-footer layout-container">
            <div class="foot footer-nav">
                <a rel="noopener" target="_blank" href="https://firstrobotics.kz/first-kaz">О Нас</a>
                <a rel="noopener" target="_blank" href="https://firstrobotics.kz/contacts">Контакты</a>
                <a rel="noopener" target="_blank" href="https://docs.google.com/document/d/1LoagOJyYFT509ywiYT6ZuVrNCJsQx9mlw8lr81n5_BE/edit">Положение</a>
            </div>

            <div class="foot footer-social">
                <a aria-label="Visit FIRST on Instagram" rel="noopener" href="https://www.instagram.com/firstroboticskz/" target="_blank"><img src="insta.png" alt="Instagram" height="25px" width="25"></a>
                <a rel="noopener" aria-label="Visit FIRST on Facebook" href="https://www.facebook.com/firstroboticskz" target="_blank"><img src="facebook.png" alt="Facebook"height="25" width="25"></a>
                <a aria-label="Visit FIRST on YouTube" rel="noopener" href="https://www.youtube.com/@ustem_foundation" target="_blank"><img src="youtube.png" alt="YouTube"height="25" width="25"></a>
                <a aria-label="Visit FIRST on LinkedIn" rel="noopener" href="https://www.linkedin.com/company/first_2" target="_blank"><img src="linkedin.png" alt="LinkedIn"height="25" width="25"></a>
            </div>

            <div class="foot layout-branding">
                <a target="_blank" rel="noopener" href="http://firstrobotics.kz" aria-label="Visit FIRST Inspires" title="Visit FIRST Inspires"><img width="150" height="39" src="first_kaz_vert.png" alt="FIRST Logo"></a>
                <a target="_blank" rel="noopener" href="http://firstrobotics.kz/first-kaz" aria-label="Visit FIRST Inspires" title="Visit FIRST Inspires"><img width="150" height="39" src="Color_logo_letter.png" alt="FIRST Logo"></a>
                <a target="_blank" rel="noopener" href="http://firstrobotics.kz" aria-label="Visit FIRST Inspires" title="Visit FIRST Inspires"><img width="150" height="39" src="Kerneu Group Logo.png" alt="FIRST Logo"></a>

            </div>

        </div>
        <div class="footer-copyright container">

            © 2023 <em>FIRST</em> <sup>®</sup>. Все права защищены.


        <div>
    </div></div></footer>
</body>
</html>